<!-- TODO, set commentable ID outside of markup? -->

<%= form_for [commentable, commentable.comments.build] do |f| %>
  <%= f.text_area :content, placeholder: "Write a response" %> 
  <div class="comment-input-actions">
    <a class="underlined" href="#">Cancel</a>
    <%= f.submit "Comment", class: "btn btn-primary comment-submit-button"%>
  </div>
<% end %> 

<% if false %>
<div class="post-comment-input">
  <textarea placeholder="Write a comment"></textarea>
  <div class="comment-input-actions">
    <a class="underlined" href="#">Cancel</a>
    <button id ="comment-submit-button" class="btn btn-primary">Comment</button>
  </div>
</div>
<% end %>