<div class="main-feed">
  <% present_collection @users do |users_presenter| %>
    <%= users_presenter.users_found(@query) %>
    <ul>
      <%= users_presenter.in_rows_of(2) %>
    </ul>
  <% end %>
</div>
