<div class="row">
  <div class="col-md-10 col-md-offset-1 main-feed">
    <p><%= post_or_photo_form(@photo) %></p>
    <ul id="activities-list">
      <%= will_paginate @activities %>
        <% present_collection @activities do |activities_presenter| %>
          <%= activities_presenter.render_partials %>
        <% end %>
      <%= will_paginate @activities %>
    </ul>
  </div>
</div>