<div class="row">
  <div class="col-md-10 col-md-offset-1 main-timeline">
    <p><%= post_or_photo_form(@photo) %></p>
    <ul>
      <% present_collection @activites do |activity_presenter| %>
        <%= activity_presenter.render_partials %>
      <% end %>
    </ul>
  </div>
</div>